* {

	outline: 0 none;

}

.padtop, .navbar-nav.padtop {

	margin-top: 15px;

}

.warning {
    border: 1px solid red;
}
.warning-message {
    color: #FF0000;
}

ul.head-social {

	list-style: none;

	margin: 5px 0 0 0;

	padding: 0;

	width: 13%;

}

ul.head-social li {

	float: left;

	height: 32px;

	margin: 0 0 5px 5px;

	width: 32px;

}

ul.head-social li a {

	float: left;

	margin: 0;

	padding: 0;

}

#banner {

	float: left;

	width: 100%;

	background: url(../images/banerbg.jpg) 0 0 repeat-x #9fcf67;

	padding: 20px 0;

}

.banner-block {

	background: none repeat scroll 0 0 #FFFFFF;

	float: left;

	padding: 10px;

	width: 100%;
	overflow:hidden;
	display:block;

}

.banner-block .slider {

	float: left;

	padding: 0;

	width: 67%;

}

.banner-block .sform {

	background: none repeat scroll 0 0 #00AFEF;

	float: left;

	margin: 0 1% 0 0;

	width: 32%;

	padding: 22px 40px 8px;

}

.slider-form h1 {

	color: #FFFFFF;

	float: left;

	font: 30px Arial, Helvetica, sans-serif;

	margin: 0 0 20px;

	padding: 0;

	width: 100%;

}

.slider-form input {

	float: left;

	font: 18px Arial, Helvetica, sans-serif;

	height: 46px;

	margin: 0 0 13px;

	padding: 0 2%;

	width: 100%;

background-color: #e8e8e8;

	border: 0 none;

	-moz-box-shadow: inset 3px 2px 5px #c5c5c5;

	-webkit-box-shadow: inset 3px 2px 5px #c5c5c5;

	box-shadow: inset 3px 2px 5px #c5c5c5;
	color:#F78F1E;
	font-weight:bold;

}

.inner-form input
{
	color:#F78F1E;
	font-weight:bold !important;
}
.slider-form input.slide-btn {

	background: url(../images/slide-btn.jpg) 0 0 no-repeat;

	box-shadow: none;

	font-size: 0;

	-moz-box-shadow: 3px 4px 5px #0087b8;

	-webkit-box-shadow: 3px 4px 5px #0087b8;

	box-shadow: 3px 4px 5px #0087b8;

}

#cntt-form {

	float: left;

	width: 100%;

	margin-bottom:20px;

}

h1.form-head {

	color: #00AFEF;

	font: 48px Arial, Helvetica, sans-serif;

	text-transform: uppercase;

}

.center-block-form {

	margin: 0 auto;

	width: 400px;

}

.center-form {

	float: left;

	width: 100%;

}

.center-form input {

	color: #88DD25;

	float: left;

	font: 40px/61px Arial, Helvetica, sans-serif;

	height: 77px;

	padding: 0 3%;

	background-color: #e8e8e8;

	width: 94%;

	border: 0 none;

	-moz-box-shadow: inset 3px 2px 5px #c5c5c5;

	-webkit-box-shadow: inset 3px 2px 5px #c5c5c5;

	box-shadow: inset 3px 2px 5px #c5c5c5;

	margin-bottom: 15px;

}

.center-form select {

	color: #88DD25;

	float: left;

	font: 40px/61px Arial, Helvetica, sans-serif;

	height: 77px;

	padding: 0 0 0 3%;

	background-color: #e8e8e8;

	width: 94%;

	margin-bottom: 15px;

	border: 0 none;

	-moz-box-shadow: inset 3px 2px 5px #c5c5c5;

	-webkit-box-shadow: inset 3px 2px 5px #c5c5c5;

	box-shadow: inset 3px 2px 5px #c5c5c5;

}

.center-form input.btn {

	background: url("../images/btn.jpg") no-repeat 0 0;

	box-shadow: none;

	font-size: 0;

	-moz-box-shadow: 3px 4px 5px #c3c3c3;

	-webkit-box-shadow: 3px 4px 5px #c3c3c3;

	box-shadow: 3px 4px 5px #c3c3c3;

}

#trail {

	float: left;

	width: 100%;

	background: url(../images/cornr.jpg) 0 0 repeat-x #f5f5f5;

	padding: 25px 0 0;

}

#trail h2 {

	color: #F78F1E;

	float: left;

	font: 27px Arial, Helvetica, sans-serif;

	margin: 0 0 16px;

	width: 100%;

}

#trail h1 {

	color: #F78F1E;

	float: left;

	font: 27px Arial, Helvetica, sans-serif;

	margin: 0 0 16px;

	width: 100%;

}

.trail-list {

	float: left;

	margin: 0 0 25px;

	width: 100%;

}

.trail-list .col-sm-4 {

	background-color: #959CA1;

	float: left;

	margin: 0 53px 25px 0;

	padding: 0;

	width: 288px;
	
	min-height: 364px;

	-moz-box-shadow: 3px 4px 5px #c3c3c3;

	-webkit-box-shadow: 3px 4px 5px #c3c3c3;

	box-shadow: 3px 4px 5px #c3c3c3;

}

.trail-list .col-sm-4.last {

	margin-right: 0;

}

.list-img {

	float: left;

	width: 100%;

}

.list-img img {

	width: 100%;

}

#trail .trail-list h1 {

	color: #FFFFFF;

	font: 18px Arial, Helvetica, sans-serif;

	margin: 0;

	padding: 20px 15px;

}

#trail .trail-list h1.blue {

	background: #00AFEF;

}

#trail .trail-list h1.orange {

	background: #f78f1e;

}

.trail-list .col-sm-4.two {

	min-height: 296px;

	position: relative;

}

#trail .trail-list h1.green {

	background: none repeat scroll 0 0 #9FCF67;


}

#trail .trail-list p {

	color: #FFFFFF;

	float: left;

	font: 12px Arial, Helvetica, sans-serif;

	margin: 0;

	padding: 10px 7px;

}

#trail .trail-list .col-sm-4.two p {

	padding: 10px 15px;

}

.trail-list .col-sm-4.two h2 {

	color: #FFFFFF;

	float: left;

	font: 12px helvetica_neue_lt_com85_heavy;

	margin: 0;

	padding: 15px 20px 0;

	width: 100%;

	border-top: 1px solid #CFD1D3;

}

.trail-list .col-sm-4.two ul {

	float: left;

	list-style: none outside none;

	margin: 0 0 10px;

	padding: 0;

	width: 100%;

}

.trail-list .col-sm-4.two ul li {

	color: #FFFFFF;

	float: left;

	font: 12px Arial, Helvetica, sans-serif;

	margin: 0;

	padding: 0 20px;

	width: 100%;

}

.trail-list .col-sm-4.two a.signup {

	background: none repeat scroll 0 0 #FFFFFF;

	bottom: 0;

	color: #9FCF67;

	font: 12px/32px helvetica_neue_lt_com85_heavy;

	padding: 0 10px;

	position: absolute;

	right: 0;

	cursor: pointer;

}

.trail-list .col-sm-4.two a.signup:hover {

	text-decoration: none;

}

#footer {

	background: none repeat scroll 0 0 #00AFEF;

	float: left;

	padding: 25px 0;

	width: 100%;

}

#footer h1 {

	color: #FFFFFF;

	float: left;

	font: 14px Arial, Helvetica, sans-serif;

	margin: 0 0 15px;

	padding: 0;

	width: 100%;

}

#footer h1.first {

	margin: 0;

}

#footer ul {

	float: left;

	list-style: none outside none;

	margin: 0 0 15px;

	padding: 0;

	width: 100%;

}

#footer ul li {

	color: #00729C;

	font: 14px Arial, Helvetica, sans-serif;

}

#footer ul li a {

	color: #00729C;

	font: 14px Arial, Helvetica, sans-serif;

}

.subs {

	float: left;

	margin: 0 0 5px;

	width: 100%;

	position: relative;

}

.subs input {

	border: 0 none;

	float: left;

	font: 18px Arial, Helvetica, sans-serif;

	height: 77px;

	padding: 0 40px 0 10px;

	width: 100%;

}

.subs input.sub-but {

	background-color: #9FCF67;

	border: 0 none;

	color: #FFFFFF;

	float: left;

	padding: 0;

	position: absolute;

	right: 0;

	text-align: center;

	top: 0;

	width: 40px;

}

#footer p {

	color: #00729C;

	font: 14px Arial, Helvetica, sans-serif;

}

.fs .col-md-6 {

	padding: 0;

}

#footer ul.foot-social {

	float: left;

	width: 100%;

}

#footer ul.foot-social li {

	float: left;

	margin: 0 0 10px;


	width: 50%;

}

.drop-cus {

	float: left;

	position: relative;

	width: 94%;
	margin-bottom:15px;

}
*|html[xmlns*=""] .drop-cus  { margin-bottom:25px!important;  }



.drop-cus select.styled {

	float: left;

	width: 100%;

}

.checkbox, .radio {

	width: 19px;

	height: 25px;

	padding: 0 5px 0 0;

	background: url(checkbox.png) no-repeat;

	display: block;

	clear: left;

	float: left;

}

.radio {

	background: url(radio.png) no-repeat;

}

.select {

	color: #88DD25;

	float: left;

	font: 40px/61px Arial, Helvetica, sans-serif;

	height: 77px;

	padding: 9px 0 0 3%;

	background: url(../images/dropdown.jpg) right top no-repeat #e8e8e8;

	width: 100%;

	position: absolute;

	left: 0;

	top: 0;

	text-align: left;

	margin-bottom: 15px;

	border: 0 none;

	-moz-box-shadow: inset 3px 2px 5px #c5c5c5;

	-webkit-box-shadow: inset 3px 2px 5px #c5c5c5;

	box-shadow: inset 3px 2px 5px #c5c5c5;

	overflow: hidden;
	padding-right:75px;
	word-break: break-all;

}

#inner-page {

	border-top: 35px solid #9FCF67;

	float: left;

	padding: 20px 0;

	width: 100%;

}

#inner-page h1 {

	background-color: #00AFEF;

	color: #FFFFFF;

	font: 30px/50px Arial, Helvetica, sans-serif;

	margin: 0;

	padding: 0  20px;

}

.inn-block {

	-moz-box-shadow: 3px 4px 5px #c3c3c3;

	-webkit-box-shadow: 3px 4px 5px #c3c3c3;

	box-shadow: 3px 4px 5px #c3c3c3;

	margin:0 0 20px 0;

}

.innerlist {

	background-color: #9FCF67;

	float: left;

	width: 100%;

}

.innerlist .col-xs-6 {

	float: left;

	padding: 0;

	width: 50%;

}

.innerlist .col-xs-6 img {

	float: left;

	max-width: 100%;

}

.innerlist .col-xs-6.list p {

	color: #FFFFFF;

	float: left;

	font: 21px Arial, Helvetica, sans-serif;

	margin: 0;

	padding: 6px 15px;

}

.innerlist .col-xs-6.list h2 {

	color: #FFFFFF;

	float: left;

	font: 18px helvetica_neue_lt_com85_heavy;

	margin: 0;

	padding: 15px 20px 0;

	width: 100%;

	border-top: 2px solid #fff;

}

.innerlist .col-xs-6.list ul {

	float: left;

	list-style: none outside none;

	margin: 0 0 10px;

	padding: 0;

	width: 100%;

}

.innerlist .col-xs-6.list ul li {

	color: #FFFFFF;

	float: left;

	font: 18px Arial, Helvetica, sans-serif;

	margin: 0;

	padding: 0 20px;

	width: 100%;

}

.inner-form {

  background-color: #F5F5F5;

  float: left;

  padding: 3%;

  width: 100%;

}

.inner-form p {

  color: #959CA1;

  font: 21px Arial, Helvetica, sans-serif;

}

.inner-form h5 {

  color: #F78F1E;

  font: 30px Arial, Helvetica, sans-serif;

}

.inner-form input {

	float: left;

	font: 18px Arial, Helvetica, sans-serif;

	height: 46px;

	margin: 0 0 13px;

	padding: 0 2%;

	width: 100%;

background-color: #fff;

	border: 0 none;

	-moz-box-shadow: inset 3px 2px 5px #c5c5c5;

	-webkit-box-shadow: inset 3px 2px 5px #c5c5c5;

	box-shadow: inset 3px 2px 5px #c5c5c5;

}

.inner-form input .warning{
    border: 1px solid red !important;
}

.inner-form input.slide-btn, .inner-form input.slide-btn-trans {


	box-shadow: none;

	font-size: 0;

	-moz-box-shadow: 3px 4px 5px #acacac;

	-webkit-box-shadow: 3px 4px 5px #acacac;

	box-shadow: 3px 4px 5px #acacac;


}

.inner-form input.slide-btn {
    background: url(../images/sign-now.jpg) 0 0 no-repeat;
    width:237px;

}

.inner-form input.slide-btn-trans {
    background-color: #F78F1E;
    color:white;
    font-size: 29px;
    font-family: Arial;

    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);

    width: auto;
    text-shadow: 2px 2px #777;
    padding-left:24px;
    padding-right:24px;
    min-width: 243px;
}


.inner-form input.slide-btn3 {

	background: url(../images/submit_image.png) 0 0 no-repeat;

	box-shadow: none;

	font-size: 0;

	-moz-box-shadow: 3px 4px 5px #acacac;

	-webkit-box-shadow: 3px 4px 5px #acacac;

	box-shadow: 3px 4px 5px #acacac;

	width:237px;

}

 @media screen and (max-width:1200px) {

.banner-block .slider {

	display: none;

}

.banner-block .sform {

	width: 100%;

}

.slider-form input.slide-btn {

	width: 337px;

}

#footer .col-sm-3, {

 width: 50%;

}

.fs .col-md-6 {

	width: 50%;

	float: left;

}

}

@media screen and (max-width:992px) {

.trail-list {

	float: left;

	margin: 0 0 0;

	text-align: center;

	width: 100%;

}

.trail-list .col-sm-4 {

	background-color: #959CA1;

	float: left;

	margin: 0 53px 0 0;

	padding: 0;

	width: 288px;

	-moz-box-shadow: 3px 4px 5px #c3c3c3;

	-webkit-box-shadow: 3px 4px 5px #c3c3c3;

	box-shadow: 3px 4px 5px #c3c3c3;

}

.trail-list .col-sm-4 {

	background-color: #959CA1;

	box-shadow: 3px 4px 5px #C3C3C3;

	display: inline-block;

	float: none;

	margin: 0 20px 30px;

	padding: 0;

	text-align: left;

	width: 288px;

}

.trail-list .col-sm-4.last {

	margin: 0 20px 30px;

}

.innerlist .col-xs-6{width:100%;}

.page-id-2279 .video-block iframe,.page-id-2279 .table-block .listings{ width:100% !important;}
.page-id-2279 .table-block .listings img.mobimg{ width:100% !important;}
.page-id-2279 .table-block .listings{ width:100% !important; padding:15px 0px !important}
.page-id-2279 .table-block img.headingimg{ width:100% !important;}
.sendtonext{padding:0 30px;}
.order_now{ margin-left: 20px;}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
ul.head-social {
    width: 15%;
}
.navbar-nav > li > a {padding: 5px;}
.container {
    width: 100%;
}
.trail-list .col-sm-4{width:288px !important;}
#trail .container {
    width: 100% !important;
}
.clinic_container {
    margin: 0 auto;
    padding: 10px !important;
    width: 100% !important;
}

}
@media screen and (max-width:800px) {
	.navbar-nav.navbar-right:last-child {
    margin-right: -25px;
}
ul.head-social { width: 16%;}
.clinical_social ul li {
    font-size: 16px !important;
    line-height: 30px !important;
}
.page-id-2279 .order_now {
    width: 60%;
}
.page-id-2279 .inner-form {
    width: 100% !important;
}
.page-id-2279 div.wpcf7 {
    margin: 0 41px 0 0;
    padding: 0;
    top: 148px;
    width: 72%;
}
}
@media screen and (max-width:768px) {
	#inner-page h1 {
		font: 28px/50px Arial,Helvetica,sans-serif;
	}
.page-id-2279 .inner-form {
    width: 100% !important;
}
.page-id-2279 div.wpcf7 {
    float: right;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 148px;
    width: 78%;
}
.page-id-2279 .wpcf7-form {
    width: 92%;
}
.page-id-2279 .order_now {
    width: 60%;
}
}
 @media screen and (max-width:600px) {

#footer .col-sm-3, #footer .col-xs-6 {

	width: 100%;

}

.fs .col-md-6 {

	width: 50%;

	float: left;

}
iframe{ width:100%; height:300px;}
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
    float: right !important;
    margin: 0 !important;
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
}
#show_hide {
    float: left !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 71% !important;
}

}
@media screen and (max-width:480px) {
		#inner-page h1 {
    font-size: 18px;
    line-height: 30px;
}
.inner-form p {
    font: 18px Arial,Helvetica,sans-serif;
}
.inner-form input {
	font: 14px Arial,Helvetica,sans-serif;
}
.ssba {
    width: 100% !important;
}
.col-xs-6.list span {
    font-size: 17px !important;
}
.page-id-2279 #innerbanner > h1 {
    font-size: 24px;
}
.page-id-2279 .search_line_4 img {
    margin: 16px 0 0;
}
.page-id-2279 .search_line_5 img {
    margin: 15px 0 0;
}
.page-id-2279 .listings > h1 {
    font-size: 15px !important;
    line-height: 28px !important;
}
.page-id-2279 div.wpcf7 {
    margin: 0 20px 0 0;
    top: 138px;
    width: 82%;
}
.page-id-2279 .inner-form {
    width: 100% !important;
}
.page-id-2279 .table-list ul li {
    font: 18px helvetica_neue_lt_com55_roman;
    margin: 0 0 17px 12px;
}
.page-id-2279 .listings {
    margin: 0 !important;
}
.order_now {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 64%;
}
}

@media screen and (max-width:400px) {
.postid-3671 input, .postid-3671 textarea {
    color: #58595b !important;
  font-size: 12px !important;
    line-height: 33px !important;
    opacity: 1;
}
.postid-3671 #inner-page h1 {
    font-size: 19px !important;
}
.inner-form h5 {
    font: 19px Arial,Helvetica,sans-serif!important;
}
.center-block-form {

	width: 96%;

	margin: 0 auto;

}

.center-form input {

	width: 100%;

}

.drop-cus {

	width: 100%;

}

.center-form input.btn {

	background: url("../images/btn.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);

	box-shadow: 3px 4px 5px #C3C3C3;

	font-size: 0;

	height: 57px;

	width: 100%;

}
.inner-form input.slide-btn,.slider-form input.slide-btn{/*background-size: 100% 100%; */ width: 100% !important;}
h1.form-head{ font:40px Arial, Helvetica, sans-serif;}
ul.head-social{width:100% !important;}
.banner-block .sform{padding:18px !important;}
#wpcf7-f74-p6-o123 select,#wpcf7-f74-p6-o123 input,#wpcf7-f74-p6-o123 textarea,#wpcf7-f74-p6-o123 .wpcf7-form-control-wrap{width:100% !important;}
.blog-left {
    width: 100% !important;
}
/*.center-form input.btn{font-size:43px !important}*/
.blog-right {

    width: 100% !important;
}
.mobileversion{
	   background: none repeat scroll 0 0 #8ECE40 !important;
    box-shadow: 3px 4px 5px #0087B8 !important;
    color: #FFFFFF;
    display: block !important;
    font: 28px Arial, Helvetica, sans-serif !important;
	padding-top: 3px !important;
	}
.slide-btn{ display:none;}
#gmw-submit-1{   background: none repeat scroll 0 0 #F78F1E !important;
    color: #FFFFFF;
    font-size: 40px !important;
}
iframe{ width:100%; height:300px;}
.mobileversion{ color:#fff !important;}
.inner-form input.slide-btn{ display:block; box-shadow:none !important;}
#inner-page h1{ font-size:23px;} 
.add_Study select{ width:100% !important; margin-bottom:10px;} 
.page-id-2279 .table-block .listings{ width:84% !important; padding:15px 0px !important}
.page-id-2279 .table-block img.headingimg {
    width: 83% !important;
}
.page-id-2279 .inner-form input {
    width: 90% !important;
}

.order_now {
    width: 96%;
	margin:0px !important;
}
.right_text h3{font-size: 16px !important;  margin: 15px 0 0 !important;}
.right_text img{display:none !important;}
.trial_text h1 { font-size: 18px !important;}
.media_channel strong{ font-size: 18px !important;}
.media_channel strong span{ font-size: 22px!important;}
.clinical_social ul li {
    display: inline;
    float: left;
    font-size: 16px !important;
    line-height: 30px !important;
    text-align: left !important;
    width: 100% !important;
}
.filtering {
    margin: 0 auto;
    text-align: left;
    width: 100% !important;
}
.filtering ul li {
    font-size: 16px !important;
    line-height: 30px !important;
    text-align: left !important;
}
.filtering ul li span {
    color: #fff;
    float: none !important;
    margin: 0 0 0 14px;
    text-align: left !important;
}
}


.home #wpcf7-f23-t1-o1  p {

    float: left;

    position: relative;

    width: 100%;

	margin:0px;

}

.home .wpcf7-not-valid-tip {

    position: absolute;

    right: 6px;

    top: 29px;

}

.home .wpcf7-validation-errors {

    color: #FF0000;

    float: left;

    color: #FF0000;

    float: left;

    margin: 0 0 10px !important;

    padding: 5px !important;

}



.navbar-nav > li > a{font-size:13px; text-transform:uppercase;}

.center-form .wppl-output-wrapper{display:none;}

.single-post span.wpcf7-not-valid-tip{     float: left;

    font-size: 11px;

    margin: 0 0 10px;

    padding: 0; width:100%;}

.single-post div.wpcf7-validation-errors {

    border: 2px solid #9FCF67 !important;

    color: #FF0000;

    float: left;

}
.entry-content {
    background: none repeat scroll 0 0 #F5F5F5;
    min-height: 303px;
    padding: 10px;
	float:left;
	width:100%
}

#wpcf7-f74-p6-o123 .wpcf7-form-control-wrap{ float:left; width:300px;}
#wpcf7-f74-p6-o123 label{ float:left; width:230px; color:#F78F1E; line-height:40px;}
#wpcf7-f74-p6-o123  p {
    float: left;
    width: 100%;
}

#wpcf7-f74-p6-o123 input[type="text"],#wpcf7-f74-p6-o123 input[type="email"],#wpcf7-f74-p6-o123  textarea{
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 3px 2px 5px #C5C5C5 inset;
    float: left;
    font: 18px Arial, Helvetica, sans-serif;
    margin: 0 0 13px;
    padding: 2%;
    width: 600px;
	color:#00AFEF
}
#wpcf7-f74-p6-o123 select {
	background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 3px 2px 5px #C5C5C5 inset;
    color: #00AFEF;
    padding: 2%;
    width: 600px;
}
.inner-form input[type="file"]{ border:none; box-shadow:none; background:none; padding:0px;}
.blog-left {
    float: left;
    width: 68%;
}
.blog-right {
    background: none repeat scroll 0 0 #EEEEEE;
    float: right;
    margin: 0 0 22px;
    padding: 0 24px 20px;
    width: 30%;
}.blog-right .widget-title {
    color: #00AFEF;
    font: 24px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.blog-right input.btn {
    background: none repeat scroll 0 0 #F78F1E;
    box-shadow: 3px 4px 5px #C3C3C3;
    color: #FFFFFF;
    font: 32px/30px Arial, Helvetica, sans-serif;
    height: 57px;
    width: 100%;
}
input::-webkit-input-placeholder{
    color:#88DD25;
}
input:-moz-placeholder {
    color:#88DD25;
}
textarea::-webkit-input-placeholder{
    color:#88DD25;
}
textarea:-moz-placeholder {
    color:#88DD25;
}

.gmw-submit-wrapper {
    float: left;
    position: relative;
    width: 100%;
}
.loading_image{float: right;
    position: absolute;
    right: -15px;
    top: 19px;}
/*.center-form input.btn:hover{  background-size: 100% 100%;
}*/
#thumbs a:last-child{ height:40px;}


.closepop {
    background: url("../images/close2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 0 !important; 
    height: 16px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 16px;
}
.blog-section { float:left; width:100%;}
.img {
    float: left;
}
.attachment-200x200.wp-post-image, .img img {
    border: 1px solid #E8E8E8;
    margin: 0 10px 10px 0;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok,div.wpcf7-validation-errors {
    float: right;
    margin: 0;
    position: relative;
    right: 60px;
    top: -61px;
}
#show_hide #show_hide_input {
    background: none repeat scroll 0 0 #8ECE40 !important;
    box-shadow: 3px 4px 5px #C5C5C5 !important;
    color: #FFFFFF;
    display: block ;
    font: 28px Arial, Helvetica, sans-serif !important;
    margin-right: 20px;
    padding-top: 3px !important;
    width: 236px;
}
#show_hide {
    float: left;
    margin-left: 229px;
    width: 67%;
	margin-top: -31px;
}
.show_hide_input {
   /* background: url("../images/butt.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    background:#f78f1e !important;
    box-shadow: 3px 4px 5px #C5C5C5 !important;
    color: #FFFFFF !important;
    display: block;
    font: 28px Arial, Helvetica, sans-serif !important;
    height: 47px !important;
    margin-right: 20px;
    padding-top: 3px !important;
    width: 289px !important;
}
.add_Study label {
    color: #F78F1E;
    float: left;
    line-height: 40px;
    width: 230px;
}
.add_Study select {
    background-color: #FFFFFF;
    border: 0 none;
    box-shadow: 3px 2px 5px #C5C5C5 inset;
    color: #00AFEF;
    float: left;
   margin-right: 17px;
    padding: 1%;
    width: 460px;
}
.add_Study .show_hide_input {
    box-shadow: 3px 4px 5px #C5C5C5 !important;
    color: #FFFFFF !important;
    display: block !important;
    font: 28px Arial, Helvetica, sans-serif !important;
    margin-right: 20px;
    padding-top: 3px !important;
	background: #f78f1e !important;
}

#wpcf7-f74-p6-o123 h2 {
    background: none repeat scroll 0 0 #00AFEF;
    color: #FFFFFF;
    float: left;
    font: 30px/50px Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
    padding: 0 10px;
    width: 100%;
}
#wpcf7-f74-p6-o123 p span input.warning,#wpcf7-f74-p6-o123 p span textarea.warning{ border:1px dashed red;}

.ie7 .banner-block .slider {  
    width: 60% !important; 
}  
.ie7 .slider-form input{
	line-height:44px !important;
}
.ie8 .slider-form input{
	line-height:44px !important;
}
.ie7 .gmw-address-field-wrapper
{
	float:none !important;
}
.ie7 .gmw-address{ width:90% !important;}
.ie7 .gmw-taxonomies-wrapper .drop-cus{ width:100% !important; float:left;}
.ie8 .gmw-taxonomies-wrapper .drop-cus{ width:100% !important; float:left;}

.ie7 .center-form input[type="submit"]{ width:103% !important; margin-top:15px !important; float:left !important}
.ie7 .select{ height:70px !important;}
.ie8 .center-form input[type="submit"]{ width:100% !important;}

.ie8 body.single-post .inner-form input{ line-height:44px !important;}

.radio_button input[type="radio"]
{
	float: left;
    height: 29px;
    margin-right: 5px;
    width: 10px;
}
.radio_button > span {
    float: left;
    margin-right: 10px;
	margin-top:10px;
}
.inner-form textarea {

	float: left;

	font: 18px Arial, Helvetica, sans-serif;

	height: 100px;

	margin: 0 0 13px;

	padding: 1% 2%;
	font-weight:bold;

	width: 100%;

     background-color: #fff;

	border: 0 none;

	-moz-box-shadow: inset 3px 2px 5px #c5c5c5;

	-webkit-box-shadow: inset 3px 2px 5px #c5c5c5;

	box-shadow: inset 3px 2px 5px #c5c5c5;

}

.inner-form select {

	float: left;

	font: 18px Arial, Helvetica, sans-serif;

	height: 46px;

	margin: 0 0 13px;

	padding: 1% 2%;
	font-weight:bold;

	width: 100%;

     background-color: #fff;
	 
	 color:#88DD25;

	border: 0 none;

	-moz-box-shadow: inset 3px 2px 5px #c5c5c5;

	-webkit-box-shadow: inset 3px 2px 5px #c5c5c5;

	box-shadow: inset 3px 2px 5px #c5c5c5;

}
#innerbanner {
	background: none repeat scroll 0 0 #f78f1e;
	border-top: 35px solid #9fcf67;
	float: left;
	width: 100%;
	padding: 0 0 30px 0;
	position: relative;
}
#innerbanner:after {
	position: absolute;
	background: url(../images/inner-banner-bottom.png) 0 0 repeat-x;
	content: '';
	left: 0;
	top: 100%;
	width: 100%;
	height: 12px;
}
#innerbanner h1 {
	background: none repeat scroll 0 0 #fff;
	color: #00afef;
	float: left;
	margin: 0;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
.inner-banner-block {
	float: left;
	text-align: center;
	width: 100%;
	padding: 25px 0 30px;
}
.youtube-video p {
	color: #fff;
	font: 16px arial;
	margin: 0 0 15px;
}
#table {
	background: #f5f5f5;
	float: left;
	padding: 0 0 30px;
	width: 100%;
}
.table-block {
	float: left;
	width: 100%;
}
.table-block th img {
	display: block;
	width: 100%;
}
.table-block table, .table-block table tr, .table-block table td, .table-block table th {
	border-bottom: 1px solid #949ca1;
	border-left: 0 none;
	border-right: 0 none;
	border-top: 0 none;
}
.table-block table td {
	padding: 10px 0;
}
.table-block table td:first-child {
	border-right: 1px solid #e5e7e7;
	padding: 20px;
}
.table-list {
	background: none repeat scroll 0 0 #f5f5f5;
	float: left;
	margin: -1px 0 0;
	width: 100%;
}
.table-list h1 {
	color: #949ca1;
	float: left;
	font: 22px helvetica_neue_lt_com55_roman;
	margin: 0 0 5px;
	padding: 0;
	width: 100%;
}
.table-list ul {
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.table-list ul li {
	color: #949ca1;
	font: 16px helvetica_neue_lt_com55_roman;
	margin: 0 0 5px;
}

.ssba {
    color: #959ca1 !important;
    /*float: right;
    width: 60%;*/
    width: 100%;
}
.ssba div {
    /*float: left;
    text-align: left;*/
    text-align: center !important;
}
.video-block iframe{
max-width: 926px !important;
width: 926px;
height: 520.875px;
}
.postid-3671 #inner-form p {display:none;}
.postid-3671 input::-webkit-input-placeholder{
    color:#58595b !important;
}
.postid-3671 input:-moz-placeholder {
    color:#58595b !important;
}
.postid-3671 textarea::-webkit-input-placeholder{
    color:#58595b !important;
}
.postid-3671 textarea:-moz-placeholder {
    color:#58595b !important;
}
.postid-3671 input,.postid-3671 textarea{
    color:#58595b !important;
}
.postid-3671 input.submit.slide-btn {
font-size:0px !important;
}
.postid-5028 .ssba,.postid-5013 .ssba,.postid-4458 .ssba,.postid-4428 .ssba,.postid-1394  .ssba{ display:none !important;}
.postid-5701 .signing_up_txt{ display:none;}
.inner-form .af-form-wrapper{ float:left;}
@media screen and (max-width:380px) {
	#inner-page h1 {
    font-size: 18px;
    line-height: 30px;
}
.inner-form p {
    font: 18px Arial,Helvetica,sans-serif;
}
.inner-form input {
	font: 14px Arial,Helvetica,sans-serif;
}
.ssba {
    width: 100%;
}
.col-xs-6.list span {
    font-size: 17px !important;
}
.page-id-2279 .table-block .listings {
    padding: 15px 0 !important;
    width: 100% !important;
}
.page-id-2279 .studykik_heading img {
    width: 100%;
}
.page-id-2279 .order_now {
    display: block;
    margin-bottom: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    width: 50%;
}
}
@media screen and (max-width:360px) {
	#inner-page h1 {
    font-size: 18px;
    line-height: 30px;
}
.inner-form p {
    font: 18px Arial,Helvetica,sans-serif;
}
.inner-form input {
	font: 14px Arial,Helvetica,sans-serif;
}
.ssba {
    width: 100%;
}
.col-xs-6.list span {
    font-size: 17px !important;
}
.page-id-2279 td {
    font-size: 18px !important;
    padding: 0 !important;
}
.page-id-2279 .table-block img.headingimg {
    width: 86% !important;
}
.page-id-2279 div.wpcf7 {
    top: 137px !important;
    width: 90% !important;
}
.page-id-2279 .inner-form {
    width: 100% !important;
}
.page-id-2279 div.wpcf7 {
    margin: 0 !important;
}
.page-id-2279 .listings.sendtonext img {
    width: 10%;
}	
.page-id-2279 .table-list ul li {
    font: 15px helvetica_neue_lt_com55_roman;
    margin-bottom: 10px;
}
.page-id-2279 .table-block .listings {
    margin-top: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.page-id-2279 .order_now {
    display: block;
    margin-bottom: 14px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    width: 61%;
}
.page-id-2279 .listings > h1 {
    font-size: 14px !important;
    line-height: 22px !important;
}
.page-id-2279 .popular_text {
    font-size: 15px;
}
.page-id-2279 td {
    font-size: 15px !important;
}
.page-id-2279 .Average {
    font-size: 15px;
}
.page-id-2279 .studykik_heading img {
    width: 80%;
}
.page-id-2279 .studykik_heading p {
    font-size: 15px;
    line-height: 22px;
}
.page-id-2279 #innerbanner > h1 {
    font-size: 24px;
}
.page-id-2279 .table-block .listings {
    width: 100% !important;
}	
}
@media screen and (max-width:320px) {
	#inner-page h1 {
    font-size: 18px;
    line-height: 30px;
}
.inner-form p {
    font: 18px Arial,Helvetica,sans-serif;
}
.inner-form input {
	font: 14px Arial,Helvetica,sans-serif;
}
.ssba {
    width: 100%;
}
.col-xs-6.list span {
    font-size: 17px !important;
}
.page-id-2279 #innerbanner > h1 {
    font-size: 20px;
}
	
}

.aaaaaaaaaaa.navbar-fixed-top{left:auto !important; right:auto !important;}

/* New Header CSS */
.logout_text h6 {
	font:18px Arial, Helvetica, sans-serif;
	color:#959ca1;
	margin: 0 150px 0 0;
	float:right;
}
.margin_header {
	margin:40px 0 34px;
}
.logo_top {
	float:left;
	margin: 0 0 0 160px;
}
#background_section {
	background:url(../images/background.png) no-repeat;
	min-height: 431px;
}
.dashoard_container {
	position: relative;
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 0 5px #999797;
	float: left;
	border-radius: 4px 4px 0 0;
	margin: 35px 0 0;
	padding: 18px 0 0;
	width: 100%;
}
.left_section {
	width:16%;
	float:left;
}
.every_one {
	border: medium none;
	border-radius: 6px;
	color: #fff;
	float: left;
	font: 18px "HelveticaNeueLTStd-MdCn";
	margin: 0 0 0 18px;
	padding: 0 0 0 6px;
	width: 170px;
	height:35px;
	-moz-box-shadow: -1px 1px 8px #f5f5f5;
	-webkit-box-shadow: -1px 1px 8px #f5f5f5;
	box-shadow: -1px 1px 8px #f5f5f5;
	background:url(../images/drop_menu.png) no-repeat right #00afef;
	/* */
	appearance:none;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari and Chrome */
background-position: right 10px center;
}
.dashboard_center {
	float:left;
	width:65%;
}
.dashboard_center h1 {
	font:33px 'HelveticaNeueLTStd-MdCn';
	color:#f78e1e;
	text-align:center;
	margin: 5px 0 20px;
	text-decoration:underline;
}
.left_block {
	float: left;
	padding: 0 10px 0 0;
	width: 28%;
	margin-top:20px;
}
.section_1 {
	float: left;
	width: 100%;
}
progress {
	background: #a9afb3 none repeat scroll 0 0;
	border: medium none;
	color: #00afef;
	float: right;
	height: 10px;
	margin: 4px 0 0;
	width: 90px;
}
.section_1 p {
	margin:5px 0 0;
}
.section_1 span {
	font-size:14px;
	color:#959ca1;
}
.section_1 b {
	font:14px 'HelveticaNeueLTStd-MdCn';
	color:#959ca1;
	margin: 0 0 0 5px;
}
.center_block {
	float: left;
	padding: 0 10px 0 0;
	width: 34%;
}

.section_2 {
	float: left;
}
.section_2 > p {
	margin: 5px 0 0 5px;
}
.center_block {
	float: left;
	padding: 0 10px 0 0;
	width: 38%;
	margin-top:20px;
}
.right_block {
	float: left;
	width: 34%;
	margin-top:20px;
	
}
.section_2 b {
	color:#959ca1;
	font:14px 'HelveticaNeueLTStd-MdCn';
	margin: 0 0 0 8px;
}
.section_3 {
	float:left;
}
.section_3 > p {
	margin: 5px 0 0 5px;
}
#right_section {
	float: right;
	margin: 0 15px 0 0;
	width: 16%;
}
#right_section.h_right_section {
	width: 30%;
	position: absolute;
	right: 0px;
}
.section_3 b {
	color:#959ca1;
	font:14px 'HelveticaNeueLTStd-MdCn';
	margin: 0 0 0 8px;
}
.select_color {
	background: #a9afb3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    box-shadow: -1px 1px 1px #d9d9d9;
    color: #fff;
    float: left;
    font: 18px "HelveticaNeueLTStd-MdCn";
    
    height: 35px;
    margin: 0 0 10px;
    padding: 0 0 0 6px;
    width: 190px;
	/**/
	-moz-box-shadow: -1px 1px 8px #f5f5f5;
	-webkit-box-shadow: -1px 1px 8px #f5f5f5;
	box-shadow: -1px 1px 8px #f5f5f5;
	background:url(../images/drop_menu.png) no-repeat right #a9afb3;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background-position: right 10px center;
}
#right_section.h_right_section  .select_color {
	margin: 0 10px 10px 0;
	width: 160px;
}

.nomarginright {
	margin-right: 0px  !important;
}
.margin_listing {
	margin:0px 0 0;
	width:100%;
	float: left;
	margin-bottom:10px;
}
.margin_listing > form {
	float: right;
	position: relative;
}
.margin_listing > form:first-child {
	margin: 0px 20px 0 0;
}
.current_listing {
	background: #00afef none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
    float: left;
    font: 30px "HelveticaNeueLTStd-MdCn";
    height: 55px;
    margin: 0;
    padding: 8px 0 0;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    width: 265px;
}
.past_study {
	background: #fff none repeat scroll 0 0;
	border-color: #f2f2f2 #f2f2f2 -moz-use-text-color;
	border-image: none;
	border-radius: 10px 10px 0 0;
	border-style: solid solid none;
	border-width: 2px 2px medium;
	color: #00afef;
	float: left;
	font: 30px "HelveticaNeueLTStd-MdCn";
	text-align: center;
	width: 220px;
	height: 55px;
	-moz-box-shadow:inset 1px 2px 7px #f2f2f2;
	-webkit-box-shadow:inset 1px 2px 7px #f2f2f2;
	box-shadow:inset 1px 2px 7px #f2f2f2;
	margin: 0 0 0 2px;
	padding: 5px 0 0;
	text-decoration:underline;
}
.padding_left {
	padding-left:0;
}
.search_patient {
	background: #f5f5f5 none repeat scroll 0 0;
	border-radius: 8px;
	height: 40px;
	border: medium none;
	font-size:18px;
	color:#959ca1;
	left: 8px;
	padding: 3px 0 0 10px;
	position: relative;
	width: 190px;
	-moz-box-shadow:inset 3px 3px 7px #c9c9c9;
	-webkit-box-shadow:inset 3px 3px 7px #c9c9c9;
	box-shadow:inset 3px 3px 7px #c9c9c9;
	margin-right:5px;
	padding-right:35px;
	float: left;
}
.search_for_patient_wrapper {
	float: left;
	width: 160px;
	position: relative;
}
.search_all {
	background: #f5f5f5 none repeat scroll 0 0;
	border-radius: 8px;
	height: 40px;
	border: medium none;
	font-size:18px;
	color:#959ca1;
	left: 8px;
	padding: 0 0 0 10px;
	position: relative;
	width: 190px;
	-moz-box-shadow:inset 3px 3px 7px #c9c9c9;
	-webkit-box-shadow:inset 3px 3px 7px #c9c9c9;
	box-shadow:inset 3px 3px 7px #c9c9c9;
	float:right;
	margin-right:5px;
	padding-right:35px;
}
#right_section.h_right_section .search_all {
	width: 160px;
}
#search-box {
	background: rgba(0, 0, 0, 0) url("../images/search_button.png") no-repeat scroll 0 0;
	border: medium none;
	height: 27px;
	position: absolute;
	right: 0px;
	top: 4.5px;
	width: 35px;
	font-size: 0;
}

#search-multi {
	background: rgba(0, 0, 0, 0) url("../images/search_button.png") no-repeat scroll 0 0;
	border: medium none;
	font-size: 0;
	height: 35px;
	position: relative;
	right: -3px;
	margin-top: -35.5px;
	width: 35px;
	float: right;
}
.whitea{
	color:#fff !important;
}
.bluea{
	color:#00afef !important;
}
.active_past_study {
    background: #00afef none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #00afef;
    float: left;
    font: 30px "HelveticaNeueLTStd-MdCn";
    height: 55px;
    margin: 0 0 0 2px;
    padding: 5px 0 0;
    text-align: center;
    text-decoration: underline;
    width: 220px;
}

.patient-report .add_btn:hover{
    color: #2a6496;
    text-decoration: underline;
}

.cf-credits{
    position: absolute;
    bottom: 20px;
}

.ui-left-part{
    overflow: hidden;
    margin-left: -15px;
    margin-top: -43px;
    float: left;
}

.ui-right-part{
    overflow: hidden;
    margin-top: -43px;
    float: right;
}

.creditscount_view,
.user_creditscount_view,
.textpatients_view,
.buycredits_view,
.phonerecords_view{
    margin-left: 10px;
    padding-top: 3px;
    float: left;
    position: relative;
    overflow: hidden;
}

.creditscount_view,
.user_creditscount_view{
    padding-top: 0;
}

.creditscount_view img,
.user_creditscount_view img{
    margin-top: 1px;
}

.addpatient_view,
.questionchange_view,
.editsiteinfo_view{
    margin-left: 10px;
    padding-top: 3px;
    float: left;
    position: relative;
    overflow: hidden;
}
.questionchange_view{
    padding-top: 0;
}

.downloadreport_container{
    padding-top: 3px;
    float: left;
    display: inline-block;
}

.downloadreport_view{
    border: medium none;
    float: right;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    padding: 0;
    background: #ffffff url("../images/buttons_v2/download-report-button.png");
}

.questionchange_view img{
    height: 44px;
    width: 165px;
}

.creditscount_view .credits-count,
.user_creditscount_view .credits-count{
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 28px;
    color: white;
    line-height: 46px;
}

.credits-count.fix-textsize{
    font-size: 20px;
}

.credits-count.fix-textsize-16{
    font-size: 16px;
}

.credits-count.fix-textsize-12{
    font-size: 12px;
}

.credits-count.fix-textsize-10{
    font-size: 10px;
}

.study-legend{
    margin-top: 62px;
    margin-bottom: 62px;
    text-align: center;
}

.deactive_current_listing{
    background: #fff none repeat scroll 0 0;
    border-color: #f2f2f2 #f2f2f2 -moz-use-text-color;
    border-image: none;
    border-radius: 10px 10px 0 0;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    box-shadow: 1px 2px 7px #f2f2f2 inset;
    color: #fff;
    float: left;
    font: 30px "HelveticaNeueLTStd-MdCn";
    height: 55px;
    margin: 0;
    padding: 8px 0 0;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    width: 265px;
}

#trial{ float:left; width:100%;}
.login_banner{
    margin-top:40px !important;
}
#download_btn {
	background: rgba(0, 0, 0, 0) url("../images/download_icon.png") no-repeat scroll 0 0;
	border: medium none;
	font-size: 0;
	height: 35px;
	width: 35px;
    margin: 0 40px 0 5px;
    float: left;
}
.closepopvideopat {
    background: transparent url("../images-dashboard/close2.png") no-repeat scroll 0 0;
    font-size: 0 !important;
    height: 16px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 16px;
}
.vip-check {
	width: 160px !important;
	margin-right: 7px !important;
}

.buy_credits_price_container{
    overflow: hidden;
}

.buy_credits_price_container table{
    table-layout: fixed;
}

.play_video_bttn_wrap{
    display: table-cell;
}

.play_video_bttn{
    background: url("../images/play_bttn.png") no-repeat scroll 0 0;
    width:104px;
    height:36px;
    margin-left: 22px;
    margin-bottom: 4px;
}

.play_video_bttn:hover{
    cursor: pointer;
}